In [183]:
import pandas as pd 

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
from sklearn import preprocessing

from math import sqrt
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [184]:
df = pd.read_csv("/content/221202_seqana_data_science_working_student_challenge_dataset.csv")
df.head()

,year,dem_nasa_dem30,dem_merit,dem_gmted,dem_srtm90_v4,dem_nasa_srtm30,dem_usgs_ned,terrain_topo_div_alos_constant,terrain_mtpi_alos_AVE,terrain_chili_alos_constant,...,sur_refl_b02_mean_sampling_year,sur_refl_b03_mean_sampling_year,sur_refl_b07_mean_sampling_year,evi_std_sampling_year,ndvi_std_sampling_year,sur_refl_b01_std_sampling_year,sur_refl_b02_std_sampling_year,sur_refl_b03_std_sampling_year,sur_refl_b07_std_sampling_year,soc_stock_t_ha
0,2012,894,899.792969,898,892,894,895.900574,0.306919,-4,183,...,3374.608696,1089.260870,1546.869565,1574.503874,2215.650847,1688.021295,1375.511632,1220.169482,654.961158,68.793925
1,2011,61,56.898190,58,58,57,58.000286,0.123088,-7,181,...,2709.608696,374.478261,1166.391304,1582.043952,1427.600306,307.310126,999.502956,167.002686,501.502718,87.265779
2,2011,92,92.471191,89,91,90,92.729630,0.046061,-1,181,...,3195.043478,414.347826,1221.347826,1927.965549,1960.699712,583.722087,1090.225101,322.372259,434.762277,96.650384
3,2011,1560,1572.300049,1622,1570,1549,1547.678345,0.781243,-17,160,...,4063.727273,1790.043478,928.956522,1010.631962,1903.293570,2179.134552,2019.112468,1884.017720,472.453507,68.400738
4,2011,1176,1175.498901,1179,1176,1176,1170.957031,0.210475,-2,181,...,2652.260870,1022.217391,864.565217,646.826519,1687.594992,922.467112,857.199362,1366.888502,303.002824,35.314235

In [185]:
df.columns.to_list()

['year',
 'dem_nasa_dem30',
 'dem_merit',
 'dem_gmted',
 'dem_srtm90_v4',
 'dem_nasa_srtm30',
 'dem_usgs_ned',
 'terrain_topo_div_alos_constant',
 'terrain_mtpi_alos_AVE',
 'terrain_chili_alos_constant',
 'soil_olm_bd_b0',
 'soil_olm_bd_b10',
 'soil_olm_bd_b30',
 'soil_olm_bd_b60',
 'soil_olm_bd_b100',
 'soil_olm_clay_b0',
 'soil_olm_clay_b10',
 'soil_olm_clay_b30',
 'soil_olm_clay_b60',
 'soil_olm_clay_b100',
 'soil_olm_soc_b0',
 'soil_olm_soc_b10',
 'soil_olm_soc_b30',
 'soil_olm_soc_b60',
 'soil_olm_soc_b100',
 'soil_olm_ph_b0',
 'soil_olm_ph_b10',
 'soil_olm_ph_b30',
 'soil_olm_ph_b60',
 'soil_olm_ph_b100',
 'soil_olm_sand_b0',
 'soil_olm_sand_b10',
 'soil_olm_sand_b30',
 'soil_olm_sand_b60',
 'soil_olm_sand_b100',
 'soil_olm_water_content_b0',
 'soil_olm_water_content_b10',
 'soil_olm_water_content_b30',
 'soil_olm_water_content_b60',
 'soil_olm_water_content_b100',
 'soil_grids_bdod_0_5',
 'soil_grids_bdod_5_15',
 'soil_grids_bdod_15_30',
 'soil_grids_bdod_30_60',
 'soil_grids_bdod_60_100',
 'soil_grids_cec_0_5',
 'soil_grids_cec_5_15',
 'soil_grids_cec_15_30',
 'soil_grids_cec_30_60',
 'soil_grids_cec_60_100',
 'soil_grids_clay_0_5',
 'soil_grids_clay_5_15',
 'soil_grids_clay_15_30',
 'soil_grids_clay_30_60',
 'soil_grids_clay_60_100',
 'soil_grids_phh2o_0_5',
 'soil_grids_phh2o_5_15',
 'soil_grids_phh2o_15_30',
 'soil_grids_phh2o_30_60',
 'soil_grids_phh2o_60_100',
 'soil_grids_cfvo_0_5',
 'soil_grids_cfvo_5_15',
 'soil_grids_cfvo_15_30',
 'soil_grids_cfvo_30_60',
 'soil_grids_cfvo_60_100',
 'soil_grids_sand_0_5',
 'soil_grids_sand_5_15',
 'soil_grids_sand_15_30',
 'soil_grids_sand_30_60',
 'soil_grids_sand_60_100',
 'soil_grids_silt_0_5',
 'soil_grids_silt_5_15',
 'soil_grids_silt_15_30',
 'soil_grids_silt_30_60',
 'soil_grids_silt_60_100',
 'soil_grids_soc_0_5',
 'soil_grids_soc_5_15',
 'soil_grids_soc_15_30',
 'soil_grids_soc_30_60',
 'soil_grids_soc_60_100',
 'soil_grids_ocd_0_5',
 'soil_grids_ocd_5_15',
 'soil_grids_ocd_15_30',
 'soil_grids_ocd_30_60',
 'soil_grids_ocd_60_100',
 'soil_grids_ocs_0_30',
 'soil_grids_nitrogen_0_5',
 'soil_grids_nitrogen_5_15',
 'soil_grids_nitrogen_15_30',
 'soil_grids_nitrogen_30_60',
 'soil_grids_nitrogen_60_100',
 'pForest_sampling_year',
 'pAgriculture_sampling_year',
 'pRangeland_or_Pasture_sampling_year',
 'pDeveloped_sampling_year',
 'pNon_Forest_Wetland_sampling_year',
 'pOther_sampling_year',
 'LST_Day_1km_01_mean',
 'LST_Day_1km_01_std',
 'LST_Day_1km_02_mean',
 'LST_Day_1km_02_std',
 'LST_Day_1km_03_mean',
 'LST_Day_1km_03_std',
 'LST_Day_1km_04_mean',
 'LST_Day_1km_04_std',
 'LST_Day_1km_05_mean',
 'LST_Day_1km_05_std',
 'LST_Day_1km_06_mean',
 'LST_Day_1km_06_std',
 'LST_Day_1km_07_mean',
 'LST_Day_1km_07_std',
 'LST_Day_1km_08_mean',
 'LST_Day_1km_08_std',
 'LST_Day_1km_09_mean',
 'LST_Day_1km_09_std',
 'LST_Day_1km_10_mean',
 'LST_Day_1km_10_std',
 'LST_Day_1km_11_mean',
 'LST_Day_1km_11_std',
 'LST_Day_1km_12_mean',
 'LST_Day_1km_12_std',
 'LST_Night_1km_01_mean',
 'LST_Night_1km_01_std',
 'LST_Night_1km_02_mean',
 'LST_Night_1km_02_std',
 'LST_Night_1km_03_mean',
 'LST_Night_1km_03_std',
 'LST_Night_1km_04_mean',
 'LST_Night_1km_04_std',
 'LST_Night_1km_05_mean',
 'LST_Night_1km_05_std',
 'LST_Night_1km_06_mean',
 'LST_Night_1km_06_std',
 'LST_Night_1km_07_mean',
 'LST_Night_1km_07_std',
 'LST_Night_1km_08_mean',
 'LST_Night_1km_08_std',
 'LST_Night_1km_09_mean',
 'LST_Night_1km_09_std',
 'LST_Night_1km_10_mean',
 'LST_Night_1km_10_std',
 'LST_Night_1km_11_mean',
 'LST_Night_1km_11_std',
 'LST_Night_1km_12_mean',
 'LST_Night_1km_12_std',
 'LST_Day_1km_mean_sampling_year',
 'LST_Night_1km_mean_sampling_year',
 'LST_Day_1km_std_sampling_year',
 'LST_Night_1km_std_sampling_year',
 'evi_01_mean',
 'evi_01_std',
 'evi_02_mean',
 'evi_02_std',
 'evi_03_mean',
 'evi_03_std',
 'evi_04_mean',
 'evi_04_std',
 'evi_05_mean',
 'evi_05_std',
 'evi_06_mean',
 'evi_06_std',
 'evi_07_mean',
 'evi_07_std',
 'evi_08_mean',
 'evi_08_std',
 'evi_09_mean',
 'evi_09_std',
 'evi_10_mean',
 'evi_10_std',
 'evi_11_mean',
 'evi_11_std',
 'evi_12_mean',
 'evi_12_std',
 'ndvi_01_mean',
 'ndvi_01_std',
 'ndvi_02_mean',
 'ndvi_02_std',
 'ndvi_03_mean',
 'ndvi_03_std',
 'ndvi_04_mean',
 'ndvi_04_std',
 'ndvi_05_mean',
 'ndvi_05_std',
 'ndvi_06_mean',
 'ndvi_06_std',
 'ndvi_07_mean',
 'ndvi_07_std',
 'ndvi_08_mean',
 'ndvi_08_std',
 'ndvi_09_mean',
 'ndvi_09_std',
 'ndvi_10_mean',
 'ndvi_10_std',
 'ndvi_11_mean',
 'ndvi_11_std',
 'ndvi_12_mean',
 'ndvi_12_std',
 'sur_refl_b01_01_mean',
 'sur_refl_b01_01_std',
 'sur_refl_b01_02_mean',
 'sur_refl_b01_02_std',
 'sur_refl_b01_03_mean',
 'sur_refl_b01_03_std',
 'sur_refl_b01_04_mean',
 'sur_refl_b01_04_std',
 'sur_refl_b01_05_mean',
 'sur_refl_b01_05_std',
 'sur_refl_b01_06_mean',
 'sur_refl_b01_06_std',
 'sur_refl_b01_07_mean',
 'sur_refl_b01_07_std',
 'sur_refl_b01_08_mean',
 'sur_refl_b01_08_std',
 'sur_refl_b01_09_mean',
 'sur_refl_b01_09_std',
 'sur_refl_b01_10_mean',
 'sur_refl_b01_10_std',
 'sur_refl_b01_11_mean',
 'sur_refl_b01_11_std',
 'sur_refl_b01_12_mean',
 'sur_refl_b01_12_std',
 'sur_refl_b02_01_mean',
 'sur_refl_b02_01_std',
 'sur_refl_b02_02_mean',
 'sur_refl_b02_02_std',
 'sur_refl_b02_03_mean',
 'sur_refl_b02_03_std',
 'sur_refl_b02_04_mean',
 'sur_refl_b02_04_std',
 'sur_refl_b02_05_mean',
 'sur_refl_b02_05_std',
 'sur_refl_b02_06_mean',
 'sur_refl_b02_06_std',
 'sur_refl_b02_07_mean',
 'sur_refl_b02_07_std',
 'sur_refl_b02_08_mean',
 'sur_refl_b02_08_std',
 'sur_refl_b02_09_mean',
 'sur_refl_b02_09_std',
 'sur_refl_b02_10_mean',
 'sur_refl_b02_10_std',
 'sur_refl_b02_11_mean',
 'sur_refl_b02_11_std',
 'sur_refl_b02_12_mean',
 'sur_refl_b02_12_std',
 'sur_refl_b03_01_mean',
 'sur_refl_b03_01_std',
 'sur_refl_b03_02_mean',
 'sur_refl_b03_02_std',
 'sur_refl_b03_03_mean',
 'sur_refl_b03_03_std',
 'sur_refl_b03_04_mean',
 'sur_refl_b03_04_std',
 'sur_refl_b03_05_mean',
 'sur_refl_b03_05_std',
 'sur_refl_b03_06_mean',
 'sur_refl_b03_06_std',
 'sur_refl_b03_07_mean',
 'sur_refl_b03_07_std',
 'sur_refl_b03_08_mean',
 'sur_refl_b03_08_std',
 'sur_refl_b03_09_mean',
 'sur_refl_b03_09_std',
 'sur_refl_b03_10_mean',
 'sur_refl_b03_10_std',
 'sur_refl_b03_11_mean',
 'sur_refl_b03_11_std',
 'sur_refl_b03_12_mean',
 'sur_refl_b03_12_std',
 'sur_refl_b07_01_mean',
 'sur_refl_b07_01_std',
 'sur_refl_b07_02_mean',
 'sur_refl_b07_02_std',
 'sur_refl_b07_03_mean',
 'sur_refl_b07_03_std',
 'sur_refl_b07_04_mean',
 'sur_refl_b07_04_std',
 'sur_refl_b07_05_mean',
 'sur_refl_b07_05_std',
 'sur_refl_b07_06_mean',
 'sur_refl_b07_06_std',
 'sur_refl_b07_07_mean',
 'sur_refl_b07_07_std',
 'sur_refl_b07_08_mean',
 'sur_refl_b07_08_std',
 'sur_refl_b07_09_mean',
 'sur_refl_b07_09_std',
 'sur_refl_b07_10_mean',
 'sur_refl_b07_10_std',
 'sur_refl_b07_11_mean',
 'sur_refl_b07_11_std',
 'sur_refl_b07_12_mean',
 'sur_refl_b07_12_std',
 'evi_mean_sampling_year',
 'ndvi_mean_sampling_year',
 'sur_refl_b01_mean_sampling_year',
 'sur_refl_b02_mean_sampling_year',
 'sur_refl_b03_mean_sampling_year',
 'sur_refl_b07_mean_sampling_year',
 'evi_std_sampling_year',
 'ndvi_std_sampling_year',
 'sur_refl_b01_std_sampling_year',
 'sur_refl_b02_std_sampling_year',
 'sur_refl_b03_std_sampling_year',
 'sur_refl_b07_std_sampling_year',
 'soc_stock_t_ha']

In [186]:
df.shape
df.dropna().shape

(5091, 306)

In [187]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5091 entries, 0 to 5090
Columns: 306 entries, year to soc_stock_t_ha
dtypes: float64(212), int64(94)
memory usage: 11.9 MB

In [188]:
df.describe()

,year,dem_nasa_dem30,dem_merit,dem_gmted,dem_srtm90_v4,dem_nasa_srtm30,dem_usgs_ned,terrain_topo_div_alos_constant,terrain_mtpi_alos_AVE,terrain_chili_alos_constant,...,sur_refl_b02_mean_sampling_year,sur_refl_b03_mean_sampling_year,sur_refl_b07_mean_sampling_year,evi_std_sampling_year,ndvi_std_sampling_year,sur_refl_b01_std_sampling_year,sur_refl_b02_std_sampling_year,sur_refl_b03_std_sampling_year,sur_refl_b07_std_sampling_year,soc_stock_t_ha
count,5091.000000,5091.000000,5091.000000,5091.000000,5091.000000,5091.000000,5091.000000,5091.000000,5091.000000,5091.000000,...,5091.000000,5091.000000,5091.000000,5091.000000,5091.000000,5091.000000,5091.000000,5091.000000,5091.000000,5091.000000
mean,2011.011589,703.000982,702.989512,704.887056,704.098409,704.304066,702.360047,0.171150,-1.472009,196.266352,...,2926.502814,934.478293,1443.624366,1276.086012,1630.338114,1065.661213,1068.488921,1036.451850,453.205834,69.399018
std,0.285303,689.395483,689.818076,689.329857,689.650488,689.572815,689.939886,0.173190,15.523306,19.435374,...,576.318969,709.491148,646.012703,669.566579,828.002647,1005.472648,618.375897,1079.210268,197.820808,67.241177
min,2011.000000,-64.000000,-62.485870,-62.000000,-64.000000,-64.000000,-64.751762,0.006211,-146.000000,65.000000,...,884.869565,57.043478,209.086957,43.458035,32.174549,44.805950,121.464499,25.795410,72.230034,0.178608
25%,2011.000000,178.500000,177.082237,179.000000,179.000000,179.000000,177.300896,0.058714,-4.000000,184.000000,...,2531.978261,382.565217,991.347826,716.760909,970.811955,222.691322,588.573861,107.901579,305.694851,30.201763
50%,2011.000000,383.000000,382.266815,384.000000,383.000000,381.000000,381.222198,0.103695,0.000000,199.000000,...,2842.695652,736.913043,1322.608696,1264.965743,1594.603804,639.540645,924.875167,649.356386,415.923707,49.241095
75%,2011.000000,1228.000000,1228.776917,1230.000000,1229.000000,1228.500000,1229.918152,0.212986,2.000000,210.000000,...,3244.173913,1234.739130,1741.195652,1831.894627,2293.518117,1741.368234,1392.175076,1767.075432,572.038427,82.367462
max,2019.000000,3531.000000,3521.041748,3523.000000,3580.000000,3536.000000,3522.890137,1.000000,150.000000,252.000000,...,5668.818182,4272.304348,4684.826087,3406.645239,3559.256708,3867.800669,3193.912846,4049.046509,1249.752010,497.756299

In [189]:
df['year'].tail()
df['year'].unique()

array([2012, 2011, 2019, 2016])

In [190]:
print(df[df['year'] == 2011]['soc_stock_t_ha'].describe())
print('-------------------------------------------')
print(df[df['year'] == 2012]['soc_stock_t_ha'].describe())
print('-------------------------------------------')
print(df[df['year'] == 2016]['soc_stock_t_ha'].describe())
print('-------------------------------------------')
print(df[df['year'] == 2019]['soc_stock_t_ha'].describe())
print('-------------------------------------------')

count    5078.000000
mean       69.451253
std        67.318004
min         0.178608
25%        30.177103
50%        49.244541
75%        82.623410
max       497.756299
Name: soc_stock_t_ha, dtype: float64
-------------------------------------------
count     6.000000
mean     46.731544
std      11.181116
min      38.994000
25%      40.120500
50%      43.455000
75%      45.875504
max      68.793925
Name: soc_stock_t_ha, dtype: float64
-------------------------------------------
count     1.000000
mean     54.489591
std            NaN
min      54.489591
25%      54.489591
50%      54.489591
75%      54.489591
max      54.489591
Name: soc_stock_t_ha, dtype: float64
-------------------------------------------
count     6.000000
mean     50.342606
std       5.830022
min      40.543120
25%      48.304862
50%      50.873341
75%      54.453757
max      56.669902
Name: soc_stock_t_ha, dtype: float64
-------------------------------------------

In [ ]:
#df.hist(figsize=(80,60))

In [192]:
df = pd.get_dummies(df, columns=['year'])
df

,dem_nasa_dem30,dem_merit,dem_gmted,dem_srtm90_v4,dem_nasa_srtm30,dem_usgs_ned,terrain_topo_div_alos_constant,terrain_mtpi_alos_AVE,terrain_chili_alos_constant,soil_olm_bd_b0,...,ndvi_std_sampling_year,sur_refl_b01_std_sampling_year,sur_refl_b02_std_sampling_year,sur_refl_b03_std_sampling_year,sur_refl_b07_std_sampling_year,soc_stock_t_ha,year_2011,year_2012,year_2016,year_2019
0,894,899.792969,898,892,894,895.900574,0.306919,-4,183,163,...,2215.650847,1688.021295,1375.511632,1220.169482,654.961158,68.793925,0,1,0,0
1,61,56.898190,58,58,57,58.000286,0.123088,-7,181,143,...,1427.600306,307.310126,999.502956,167.002686,501.502718,87.265779,1,0,0,0
2,92,92.471191,89,91,90,92.729630,0.046061,-1,181,146,...,1960.699712,583.722087,1090.225101,322.372259,434.762277,96.650384,1,0,0,0
3,1560,1572.300049,1622,1570,1549,1547.678345,0.781243,-17,160,112,...,1903.293570,2179.134552,2019.112468,1884.017720,472.453507,68.400738,1,0,0,0
4,1176,1175.498901,1179,1176,1176,1170.957031,0.210475,-2,181,121,...,1687.594992,922.467112,857.199362,1366.888502,303.002824,35.314235,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5086,269,271.338745,276,272,269,267.902832,0.144872,-12,185,152,...,2580.150946,2111.791728,1600.114086,2184.760013,546.854281,54.985890,1,0,0,0
5087,1841,1842.393311,1835,1843,1843,1841.644409,0.159572,-2,198,144,...,475.251392,1181.081629,1011.575533,1344.406253,913.269127,9.786586,1,0,0,0
5088,370,368.073639,371,365,366,365.822449,0.039614,1,170,119,...,2896.890366,1159.625795,861.845568,1513.928240,260.348930,216.555119,1,0,0,0
5089,373,369.719818,354,372,374,358.393951,0.187150,4,178,124,...,2653.634086,805.265537,911.478385,1176.317363,290.434614,134.094696,1,0,0,0
5090,-4,-2.312090,-1,-4,-4,1.925000,0.053462,-2,203,124,...,1588.506967,349.729884,649.727736,240.737585,306.267457,455.542027,1,0,0,0

### Linear regression

In [193]:
X = df.loc[:, df.columns != 'soc_stock_t_ha'] #features
y = df['soc_stock_t_ha'] #target

In [194]:
y.head()

0    68.793925
1    87.265779
2    96.650384
3    68.400738
4    35.314235
Name: soc_stock_t_ha, dtype: float64

In [195]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=324)

In [196]:
scale = preprocessing.StandardScaler()
scale.fit(X_train)
X_train = scale.transform(X_train)

In [197]:
print(X_train.max())
print(X_train.min())

36.82843104631709
-22.53885533916929

In [198]:
lin_regressor = LinearRegression()

lin_regressor.fit(X_train, y_train)

LinearRegression()

In [199]:
X_test = scale.transform(X_test)
y_prediction = lin_regressor.predict(X_test)
y_result = y_prediction - y_test

y_result

3016     29.513267
4117     42.958586
4105     32.520004
2129    -23.992051
2817     21.836018
           ...
3755   -118.704751
1260    -15.032515
4088     33.810978
1991    -74.802761
340      82.762426
Name: soc_stock_t_ha, Length: 1019, dtype: float64

In [200]:
RMSE = sqrt(mean_squared_error(y_true = y_test, y_pred = y_prediction))
RMSE

57.04450371893176

In [201]:
lin_regressor.score(X_test, y_test)

0.3204367128404866